body {
  background-image: url('images/notebook_texture2458.jpg');
}
.hidden {
  display: none;
}

/* used when I would make a table, not needed anymore
table, th, td {
  border: 1px solid black;
}
*/

#data-table-container {
  width: 1000px;
  background-color: grey;
}

#data-table-container ol{
  color:black;
  font-size: 25px;
}

p, label, pre{
  font-size: 20px;
}
h2 {
  font-size: 35px;
}

#query-history {
  width: 700px;
}

.highlight {
  background-color: #FFFF00;
}

#container {
  background-color: grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
  width: 400px;
  max-width: 100%;
  color: black;
}

.query-entry {
  background-color: grey;
}